<div th:fragment="admin" id="sidebar-nav" class="sidebar">
  <div class="sidebar-scroll">
    <nav>
      <ul class="nav">
        <li><a th:href="@{/admin/dashboard}" class="active"><i class="lnr lnr-home"></i> <span>Dashboard</span></a></li>
        <li><a th:href="@{/admin/user}" class=""><i class="lnr lnr-users"></i> <span>Users</span></a></li>
        <li><a th:href="@{/admin/address}" class=""><i class="lnr lnr-home"></i> <span>Address</span></a></li>
        <li><a th:href="@{/admin/ewallet}" class=""><i class="lnr lnr-diamond"></i> <span>E-Wallets</span></a></li>
        <li><a th:href="@{/admin/cart}" class=""><i class="lnr lnr-cart"></i> <span>Order Carts</span></a></li>
        <li><a th:href="@{/admin/invoice}" class=""><i class="lnr lnr-license"></i> <span>Invoices</span></a></li>
        <li><a th:href="@{/admin/payment}" class=""><i class="lnr lnr-inbox"></i> <span>Payments</span></a></li>
        <li><a th:href="@{/admin/product}" class=""><i class="lnr lnr-smartphone"></i> <span>Products</span></a></li>
        <li><a th:href="@{/admin/shipment}" class=""><i class="lnr lnr-bus"></i> <span>Shipments</span></a></li>
      </ul>
    </nav>
  </div>
</div>